/* h2{ 
    color:black;
    font-size: larger;
    text-align:center;
    text-decoration: underline;
    text-transform: capitalize;
    border:2px solid black;
    background-color: lightgrey;
    margin: 5px;
    padding: 1px;
}
h2:hover{
    animation: 2s step-end 3s 1 ;
    background-color: yellow;

}
@keyframes step-end {
    0% {background-color: lightgrey;}
    50% {background-color: orange;}
    100% {background-color: yellow;}
}
p{
    color: blue;
    font-size: medium;
    text-align: center;
    border:2px solid blue;
    background-color: lightgrey;
    margin: 5px;
    padding: 1px;
}
p:hover{
    animation: 2s ease-in-out 0s infinite alternate ;
    background-color: pink;

}
@keyframes ease-in-out {
    0% {background-color: lightgrey;}
    50% {background-color: purple;}
    100% {background-color: pink;}
}*/
div{
    width: 200px;
    height: 100px;
    border: 2px solid black;
    background-color: lightblue;
    margin: 10px;
    padding: 5px;
}
/* .content{ 
    width: 200px;
    height: 50px;
    border: 2px solid green;
    background-color: lightgreen;
    margin: 10px;
    padding: 5px;
}
.newClass{
    background-color: aliceblue;
    color: #000;
    border : 2px solid yellow;
    height:500px;
    width:100px;
}*/
