/* #box1{ 
    width:100px;
    height:200px;
    background-color:red;
    font-size: 5px;
}
#box2{
    
    height:100px;
    background-color:yellow;
    margin-left: 10%;
    font-size:2em;
     width :5em; 
    width:5rem;
} */
#box1{
    width:100px;
    height:100px;
    background-color:red;
    border : 2px solid black ;
    display : inline-block;
}
#box2{
    width:100px;
    height:100px;
    background-color:yellow;
    border : 2px solid black ; 
    display : inline-block ;   
}
#box3{
    width:100px;
    height:100px;
    background-color:blue;
    border : 2px solid black ;
    display : inline-block ;
}
#box4{
    width:100px;
    height:100px;
    background-color:green;
    border : 2px solid black ;
    display : inline-block ;
}
