/* #box1{ 
    width:100px;
    height:200px;
    background-color:red;
    font-size: 5px;
}
#box2{
    
    height:100px;
    background-color:yellow;
    margin-left: 10%;
    font-size:2em;
     width :5em; 
    width:5rem;
} */
body{
    background-image: url("cat.jpg");
    background-size: cover;
}
#box1{
    width:100px;
    height:100px;
    border : 2px solid black ;
    display : inline-block;
    position :static;
    z-index : 2;
    background-image: url("cat.jpg");
    background-size: cover;
}
#box2{
    width:100px;
    height:100px;
    background-color:yellow;
    border : 2px solid black ; 
    display : inline-block ;  
    position: relative; 
    top : 20px ;
    left : 30px ;
    background-image: url("OIP.webp");
    background-size: contain;
    background-repeat: no-repeat;
}
#box3{
    width:100px;
    height:100px;
    background-color:blue;
    border : 2px solid black ;
    display : inline-block ;
    position : absolute;
    top:10px;
    left:20px;
    z-index:1
}
#box4{
    width:100px;
    height:100px;
    background-color:green;
    border : 2px solid black ;
    display : inline-block ;
    position : fixed ;
    right :10px;
    bottom : 40px;
    width : 100vw% ; 
}
