/* div{ 
    height : 100px ;
    width : 100 px ;
    background-image : url("cat.jpg");
    background-size : cover ;
    position :fixed;
    top : 0px ;
    left :0px ;
    color : brown;
}
body{
    text-align:center;
}
div{
    height: 100px;
    width:100px;
    display: inline-block;
    border: 2px solid black;
}
#container {
    height: 700px;
    width: 1000px;
    display:flex;
    flex-direction: column-reverse;
    justify-content:space-around;
    align-items: center;
    border: 2px solid black;
}
#box1 {
    background-color: lightcoral;
}
#box2 {
    background-color: lightblue;
}
#box3 {
    background-color: lightgreen;
}
#box4 {
    background-color: lightpink;
}
#box5 {
    background-color: lightgrey;
}
.outer{
    border:2px solid black;
    border-radius: 2px;
    height:500px;
    width: 500px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
ul{
    display:flex;
    justify-content: space-evenly;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    background-color: aliceblue;
}
.inner{
    height: 100px;
    width: 100px;
    background-color: black;
}*/
div {
    height: 100px;
    width: 100px;
    background-color: aliceblue;
    
}
@media (max-width:300px){
    div {
        background-color: green;
    }
}
@media (min-width:300px) and (max-width:400px){
    div {
        background-color: pink;
    }
}
@media (min-width:400px) and (max-width:600px){
    div{
        background-color:red;
    }
}
@media(min-width:600px){
    div{
        background-color: blue ;
    }
}


