h1{
    background-color: beige;
    color:black;
    text-align: center;
    text-decoration: dashed underline;
    font-family:handwriting,serif,monospace;
    font-size:100px;
    font-weight:700;
}
h2{
    background-color: lightgrey;
    color:green;
    text-align: left;
    text-decoration: wavy underline;
    font-family:verdana,sans-serif;
    font-size:80px;
    font-weight:600;
}
h3{
    background-color: lightyellow;
    color:purple;
    text-align: right;
    text-decoration: dotted underline;
    font-family:arial,sans-serif;
    font-size:60px;
    font-weight:500;
}
a{
    text-decoration: none;
}
div {
    background-color: lightpink;
    
    border:10px double black ;
    padding :15px,20px,30px,5px;
    border-radius:15px;
    margin:5px,8px,13px,7px;
}
#para2{
    background-color: seashell;
    border:10px dashed red;
    padding :10px,15px,20px,5px;
    border-radius:10px;
}